@model List<Student>
@{

    ViewData["Title"] = "All student";
}
<h1>Student List</h1>

@using (Html.BeginForm("Index", "Student", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Search</label>
        <input type="text" class="form-control" name="SearchName" placeholder="Search Name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
}


@Html.ActionLink("New User", "Create", new { @class = "btn btn-secondary" })
<table class="table">
    <tbody>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">ALStream</th>
            <th scope="col">RegisterDate</th>
            <th scope="col">Edit|Delete</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Birthday.ToShortDateString()
                </td>

                <td>
                    @item.ALStream
                </td>

                <td>
                    @item.RegisterDate.ToShortDateString()
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

